header {
    background-color: white;
    height: 101px;
    overflow: hidden;
    width: 100%;
    margin: 0 0 20px 0;

    #top {
        height: 60px;
        @include clearfix();
        background-color: $primary;

        #brand {
            display: block;
            float: left;
            height: 60px;
            padding: 10px;
            img {
                height: 40px;
            }
        }
        a#profile {
            display: block;
            float: right;
            height: 60px;
            padding: 10px 10px 10px 0;
            color: rgba(white, .4);
            span {
                display: block;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                float: left;
                padding-right: 10px;
            }
            img {
                height: 40px;
                @include border-top-radius(20px);
                @include border-bottom-radius(20px);
            }
            &:hover {
                color: rgba(white, .5);
            }
            &:active {
                opacity: .8;
            }
        }
    }

    nav {
        height: 40px;
        text-align: center;

        a {
            color: #737373;
            -webkit-transition: border-color .218s;
            transition: border-color .218s;
            border-bottom: 2px solid transparent;
            color: #737373;
            display: inline-block;
            font-size: 14px;
            margin: 0 15px;
            padding: 10px 0 8px;
            text-decoration: none;
            i {
                margin-right: 4px;
            }
            &:hover {
                border-bottom-color: $secondary;
                color: #262626;
                cursor: pointer;
            }
            &.active {
                border-bottom-color: $secondary;
                color: #262626;
                font-weight: bold;
            }
        }
    }
}