*,html,p {
  font-family:$sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family:$sans-serif;
  color: $base-font-color;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0 0;
}

p {
  color: $base-paragraph-color;
  padding-top: 5px;
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 13px;

  &.helper {
    font-size: 13px;
  }
}

a {
  color: $secondary;
}

label {
  font-size: 15px;
}